---
layout: default
---

<div class="main-post-list hidden">

  <ol class="post-list">
    {% for post in paginator.posts %}
    <li>
      <h2 class="post-list__post-title post-title"><a href="{{ post.url }}" title="访问 {{ post.title }}">{{ post.title }}</a></h2>
      <p class="excerpt">{{ post.content | strip_html | strip_newlines | truncate: 250 }}&hellip;</p>
      <div class="post-list__meta">        
        <time datetime="{{post.date | date: date_to_xmlschema}}" class="post-list__meta--date date">
          <img src="/images/calendar.png" width="20px" /> 
          {{ post.date | date: "%F"}}</time> 
        <div class = "tag-img-icon">
          <img src="/images/tag-icon.svg" width="20px" /> 
        </div>
        <a href="/tags">
          <div class = "post-list-icon-mate">
            <span class="post-list__meta--tags-right">{{ post.tags }}</span>
          </div>
          <div class = "post-list-small-mate">
          <a class="btn-border-small" href={{ post.url }}>阅读全文 » </a>
          </div>
      </div>
      <hr class="post-list__divider" />
    </li>
    {% endfor %}
  </ol>

  {% include pagination.html %}

</div>
<!--不算子网站访客统计-->
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js">
</script>
<!-- pv的方式，单个用户连续点击n篇文章，记录n次访问量 -->
<div align="center">
<span id="busuanzi_container_site_pv" style="font-family:Consolas;color:Silver;font-size:12px;">
View:<span id="busuanzi_value_site_pv" style="font-family:Consolas;color:Silver;font-size:12px;"></span>
</span>
<!-- uv的方式，单个用户连续点击n篇文章，只记录1次访客数 -->
<span id="busuanzi_container_site_uv" style="font-family:Consolas;color:Silver;font-size:12px;">
User:<span id="busuanzi_value_site_uv" style="font-family:Consolas;color:Silver;font-size:12px;"></span>
</span>
</div>
